.item {
    width: 302px;
}

.img_block {
    margin-bottom: 12px;
}

.title {
    font-weight: 600;
    font-size: 15px;
    line-height: 127%;
    color: #222;
}

.cost {
    font-weight: 400;
    font-size: 15px;
    line-height: 127%;
    color: #222;
}

.cost_block {
    display: flex;
    align-items: center;
    gap: 4px;
}

.title_block {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 2px;
}

.des {
    font-weight: 400;
    font-size: 15px;
    line-height: 127%;
    color: #717171;
    margin-bottom: 2px;
}

.time {
    font-weight: 400;
    font-size: 13px;
    line-height: 146%;
    color: #717171;
    margin-bottom: 8px;
}

.price {
    font-weight: 600;
    font-size: 15px;
    line-height: 127%;
    color: #222;
}

.info {
    font-weight: 400;
    font-size: 15px;
    line-height: 127%;
    color: #222;
}

.price_block {
    display: flex;
    gap: 4px;
}